#startBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/btnStartUnsel.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
}

#startBtn:hover{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/btnStartSel.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
}

#backBtn{
    -fx-background-color: transparent;
    -fx-font-family: Maze;
    -fx-text-fill: #223d54;
    -fx-font-size: 30;
    -fx-effect: dropshadow(gaussian, lightgray, 0,0,0,1);
}
#backBtn:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #ff8c00;
    -fx-effect: dropshadow(gaussian, #223d54, 0,0,0,1);
}
#backBtn:focused{
    -fx-background-color: transparent;
}

#einfachBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/einfachBW.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
}
#einfachBtn:hover{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/einfachUnsel.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
}
#einfachBtn:focused{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/einfachSel.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
}

#mittelBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/mittelBW.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
}
#mittelBtn:hover{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/mittelUnsel.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
}
#mittelBtn:focused{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/mittelSel.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
}

#schwerBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/schwerBW.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
}
#schwerBtn:hover{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/schwerUnsel.png");
    -fx-background-size: 105%;
    -fx-background-position: center;
    -fx-text-fill: orange;
}
#schwerBtn:focused{
    -fx-background-color: transparent;
     -fx-background-image: url("/img/btn/schwerSel.png");
     -fx-background-size: 105%;
     -fx-background-position: center;
 }
#resumeBtn, #mainMenuBtn {
    -fx-background-color: transparent;
    -fx-font-family: Maze;
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-effect: dropshadow(gaussian, #223d54, 0,0,0,1);
}
#resumeBtn:hover, #mainMenuBtn:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #ff8c00;
    -fx-effect: dropshadow(gaussian, #223d54, 0,0,0,1);
}
#mainMenuBtn:focused{
    -fx-background-color: transparent;
    -fx-text-fill: #ff8c00;
    -fx-effect: dropshadow(gaussian, #223d54, 0,0,0,1);
}
#safe {
    -fx-background-color: transparent;
    -fx-font-family: Maze;
    -fx-text-fill: #ff3c00;
    -fx-font-size: 15;
}
#startGameBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/startgameUNSEL.png");
    -fx-background-size: 100%;
    -fx-background-position: center;
}
#startGameBtn:hover{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/startgameSEL.png");
    -fx-background-size: 100%;
    -fx-background-position: center;
}
#startGameBtn:focused{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/startgameSEL.png");
    -fx-background-size: 100%;
    -fx-background-position: center;
}
#startGameBtn:disabled{
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/startgameGR.png");
    -fx-background-size: 100%;
    -fx-background-position: center;
}
#gameWon{
    -fx-background-color: transparent;
    -fx-font-family: Maze;
    -fx-text-fill: white;
    -fx-font-size: 55;
}
#whiteLabel {
    -fx-font-family: Maze;
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-effect: dropshadow(gaussian, #223d54, 0,0,0,1);
}
#startText {
        -fx-font-family: Maze;
        -fx-text-fill: white;
        -fx-font-size: 30;
        -fx-effect: dropshadow(gaussian, #223d54, 0,0,0,1);
}
#volumeBtn {
    -fx-background-color: transparent;
    -fx-background-image: url("/img/btn/volumeOn.png");
    -fx-background-size: 100%;
    -fx-background-position: center;
}
